# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.venv/
venv/

# Poetry/uv
poetry.lock
uv.lock

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.log
docker-compose.override.yml

# Misc
*.swp
*.swo
*.bak
*.tmp

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Env
.env

# AI
.ai/*

# Worktree
.worktree/*